
ul {
    list-style-type: none;
    margin:0;
    padding:0;
    background-color: gray;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: sticky;
    top: 0;
}
ul li a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}
ul li a:hover {
    background-color: yellow;
}
